@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus{
  outline: none !important;
}
body{
  color: #ccc;
  background-color: #232323;
  font-family: monospace;
}
.App{
  display: inline-block;
  width: 100%;
  margin: 50px 0 0;
}
h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1FB9A3;
  line-height: 40px; 
  background: -webkit-linear-gradient(#1FB9A3, #232323);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.addtodo-box, .todo-list-box{
  width: 50%;
  float: left;
}
.addTodo-Form{
  display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
  -webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;	
	flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}
.todo-box{
  max-width: 80%;
  margin: 0 auto;
}
.input-label,
.empty-todo-text{
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #1FB9A3;
  line-height: 40px; 
}
.add-input{
  border: 0;
  height: 40px;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
  color: #ccc;
  font-size: 25px;
  padding: 0 20px;
  margin: 15px 0;
}
textarea.add-input{
  height: 100px;
}
.submit-btn.add-input{
  height: 70px;
  color: #1FB9A3;
  box-shadow: 0px 0px 10px #ccc;
  text-transform: capitalize;
  transition: 0.5s all;
  font-weight: bold;
  letter-spacing: 2px;
}
.submit-btn.add-input:hover{
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #1FB9A3;
  color: #232323;
}
h2.todo-title{
  font-family: 'Kanit', sans-serif;
  color: #C29E58;
  letter-spacing: 4px;
  text-shadow: 0px 0px 2px #1fb9a3;
  text-transform: capitalize;
}
.todo-desc{
  font-size: 25px;
  color: #1fb9a3;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 30px;
  text-transform: capitalize;
}
.delet-btn{
  height: 45px;
  width: 100%;
  max-width: 200px;
  color: #C29E58;
  box-shadow: 0px 0px 10px #ccc;
  text-transform: uppercase;
  transition: 0.5s all;
  font-weight: bold;
  letter-spacing: 2px;
  border: 0px solid transparent;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
  margin: 20px 0;
}
.delet-btn:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px #C29E58;
}
/* responsive */
@media screen and (max-width:991px) {
  .addtodo-box, .todo-list-box{
    width: 100%;
    float: none;
  }
  h1{
    font-size: 45px;
  }
}
@media screen and (max-width:575px) {
  h1{
    font-size: 18px;
  }
}